* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-message {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
}

.header-welcome {
    background-color: rgb(243, 199, 140);
    color: black;
    width: 100%;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
}

.header-logo {
    height: auto;
    width: 100%;
    padding: 100px;
    background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/files/Untitled_512_x_512_px.jpg?v=1660819369&width=500);
    background-position: center;
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 10%;
}

.header-nav {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    line-height: 5vh;
    position: relative;
    font-size: 20px;
}

.header-nav ul {
    width: 100%;
    text-align: center;
}

.header-nav ul li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.header-nav a:last-child {
    position: absolute;
    left: 92%;
    text-decoration: none;
    color: black;
}


.main {
    height: 100%;
    width: 100%;
    padding: 50px 100px 50px 100px;
    background-color: black;
    color: white;
}

.main p {
    font-size: 32px;
}

.main-collections {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.main-collections-card {
    height: 100%;
    width: 20%;
    cursor: pointer;
}

.main-collections-card-img {
    height: 95%;
    width: 100%;

}

.col1 {
    background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/collections/0G0A9901.jpg?v=1668497164&width=535);
    background-repeat: no-repeat;
    background-size: cover;
}

.col2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/collections/0G0A0125.jpg?v=1668065972&width=535);
    background-repeat: no-repeat;
    background-size: cover;
}

.col3 {
    background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/collections/0G0A0151.jpg?v=1668497232&width=535);
    background-repeat: no-repeat;
    background-size: cover;
}

.col4 {
    background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A7797.jpg?v=1665149986&width=360);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-collections-card-title {
    color: white;
    font-size: 24px;
}