@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-message {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
}

.header-welcome {
  background-color: rgb(243, 199, 140);
  color: black;
  width: 100%;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
}

.header-logo {
  height: auto;
  width: 100%;
  padding: 100px;
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/files/Untitled_512_x_512_px.jpg?v=1660819369&width=500);
  background-position: center;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-size: 10%;
}

.header-nav {
  height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  line-height: 5vh;
  position: relative;
  font-size: 20px;
}

.header-nav ul {
  width: 100%;
  text-align: center;
}

.header-nav ul li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.Btn {
  height: 60px;
  width: 120px;
  color: white;
  background-color: black;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=email],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}


.main {
  height: 100%;
  width: 100%;
  padding: 50px 100px 50px 100px;
  background-color: black;
  color: white;
}

.main p {
  font-size: 32px;
}

.banner {
  height: 460px;
  width: 100%;
  background-image: url("https://cdn.shopify.com/s/files/1/0551/1934/7846/files/Banner_eeacdfe8-966a-468c-a347-59f028abef34.png?v=1676010052&width=1500");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us {
  padding: 16px;
}

.about-us h1 {
  font-size: 48px;
  font-weight: 600;
}

.about-us pre {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.collections {
  height: 100vh;
  width: 100%;
  padding: 14px;
  background-color: rgb(34, 34, 34);
}

.main-heading p {
  font-size: 32px;
  color: white;
}

.main-collections {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.main-collections-card {
  height: 100%;
  width: 20%;
  cursor: pointer;
}

.main-collections-card-img {
  height: 95%;
  width: 100%;

}

.col1 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/collections/0G0A9901.jpg?v=1668497164&width=535);
  background-repeat: no-repeat;
  background-size: cover;
}

.col2 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/collections/0G0A0125.jpg?v=1668065972&width=535);
  background-repeat: no-repeat;
  background-size: cover;
}

.col3 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/collections/0G0A0151.jpg?v=1668497232&width=535);
  background-repeat: no-repeat;
  background-size: cover;
}

.col4 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A7797.jpg?v=1665149986&width=360);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-collections-card-title {
  color: white;
  font-size: 24px;
}

.main-items {
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.main-items-card {
  height: 100%;
  width: 24%;
  cursor: pointer;
}

.main-items-card-img {
  height: 90%;
  width: 100%;

}

.item-col1 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A7768.jpg?v=1665126153&width=360);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-col2 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A7821.jpg?v=1665151492&width=360);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-col3 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A7813.jpg?v=1665150928&width=360);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-col4 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A7797.jpg?v=1665149986&width=360);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-items-card-title {
  color: white;
  font-size: 24px;
}

/* item section styling */

.item {
  margin-top: 160px;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-between;
}

.item-images {
  height: 100%;
  width: 65%;
  display: flex;
}

.small-images {
  height: 96%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 10px;
}

.item-img {
  height: 48%;
  width: 48%;
}

.img1 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A9890.jpg?v=1662094548&width=823);
  background-repeat: no-repeat;
  background-size: cover;
}

.img2 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A9904.jpg?v=1662094547&width=823);
  background-repeat: no-repeat;
  background-size: cover;
}

.img3 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A9885.jpg?v=1662094549&width=823);
  background-repeat: no-repeat;
  background-size: cover;
}

.img4 {
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A9890.jpg?v=1662094548&width=823);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-img-big {
  height: 96%;
  width: 50%;
  background-image: url(https://cdn.shopify.com/s/files/1/0551/1934/7846/products/0G0A9901.jpg?v=1662094548&width=823);
  background-repeat: no-repeat;
  background-size: cover;
}

.item-info {
  height: 100%;
  width: 30%;
}