.frame1
{
background-color:hsl(0, 0%, 4%);
height:50px;
width: 100%;
margin:auto;
padding:0px;
position:absolute;
}
.wheneveryoushopfromouronlinestorewedonate3peroftheportionofsalestonon-profitorganizations
{
color:#ffffff;
text-align:center;
vertical-align:text-middle;
alignment: text-middle;
font-size:20px;
font-family:Assistant;
letter-spacing:1px;
line-height:17px;
border-style:hidden;
outline:none;
left:226px;
top:18px;
position:absolute;
width:986px;
}


.frame2
{
background-color:#111111;
height:50px;
width:100%;
padding:0px;
top:50px;
position:relative;
margin:auto;
}
.welcometoourstore
{
    color:#ffffff;
    text-align:center;
    vertical-align:text-middle;
    alignment: text-middle;
    font-size:20px;
    font-family:Assistant;
    letter-spacing:1px;
    line-height:17px;
    border-style:hidden;
    outline:none;
    left:226px;
    top:18px;
    position:absolute;
    width:986px;
}


.frame3
{
background-color:#ffffff;
height:250px;
width:1440px;
padding:0px;
top:100px;
position:relative;
}
.frame4
{
height:150px;
width:150px;
padding:0px;
left:645px;
top:61px;
position:relative;
}
.zoyani_20201
{
height:150px;
width:150px;
}
.login-signup
{
color:#121212;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Assistant;
letter-spacing:1px;
line-height:17px;
border-style:hidden;
outline:none;
top:250;
left:1276px;
position:absolute;
width:133px;
}
.zoyani_20202
{
height:150px;
width:150px;
left:645px;
top:-20px;
position:absolute;
}
.home
{
color:#121212;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Assistant;
letter-spacing:1px;
line-height:17px;
border-style:hidden;
outline:none;
top:250;
left:534px;
position:absolute;
width:54px;
}
.collections
{
color:#121212;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Assistant;
letter-spacing:1px;
line-height:17px;
border-style:hidden;
outline:none;
top:250;
left:694px;
position:absolute;
width:103px;
}
.aboutus
{
color:#121212;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Assistant;
letter-spacing:1px;
line-height:17px;
border-style:hidden;
outline:none;
top:250;
left:600px;
position:absolute;
width:81px;
}
.contactus
{
color:#121212;
text-align:center;
vertical-align:text-middle;
font-size:20px;
font-family:Assistant;
letter-spacing:1px;
line-height:17px;
border-style:hidden;
outline:none;
top:250;
left:809px;
position:absolute;
width:98px;
}

